.person_container {
	display: inline-block;
	width: 30%;
}
.person_container:nth-child(even){
	background-color: lightyellow;
}
.person_container:nth-child(odd){
	background-color: lightblue;
}
.dotted {
	border: 1px dotted black;
}
img {
	width: 80px;
	height:40px;
}